button {
  height: 30px;
  width: 300px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.photos {
  display: flex;
  background-color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  max-width: 980px;
}

.photos img, video {
  display: block;
  float: left;
  flex: 0 0 auto;
  background-color: #fff;
  margin: auto;
}


@media screen and (min-width: 1024px) {
  .photos img, video {
    width: calc(100%/6);
    height: calc(100%/6);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos img, video {
    width: calc(100%/5);
    height: calc(100%/5);
  }
}

@media screen and (max-width: 768px) {
  .photos img, video {
    width: calc(100%/4);
    height: calc(100%/4);
  }
}